# SPDX-FileCopyrightText: 2024 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
#
# SPDX-License-Identifier: BSD-2-Clause

venv/
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.egg-info/
reports/
.coverage

/cert.pem
/games.db
/games.db-journal
/desertbus.service
/db_games/
/logs/
/blobs/
/.env
