/*
 * SPDX-FileCopyrightText: 2024 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
 *
 * SPDX-License-Identifier: BSD-2-Clause
 */

fieldset:disabled>fieldset {
    display: none;
}

fieldset.panel {
    padding: 0.5rem 0.5rem 0.3rem 0;
}

@media screen and (min-width: 968px) {
    .oc-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1.4rem 1fr 1.4rem 1.4rem;
        grid-column-gap: 0.3rem;
        grid-row-gap: 0.3rem;
    }
}


label.connection { grid-area: 1 / 1 / 2 / 2; }
input.connection { grid-area: 1 / 2 / 2 / 5; display: block; width: 100%; }
label.description { grid-area: 2 / 1 / 3 / 2; }
textarea.description { grid-area: 2 / 2 / 3 / 5; display: block; width: 100%; }
label.element0 { grid-area: 3 / 1 / 4 / 3; }
label.element1 { grid-area: 3 / 3 / 4 / 5; }
label.element2 { grid-area: 4 / 1 / 5 / 3; }
label.element3 { grid-area: 4 / 3 / 5 / 5; }

label>span {
    display: inline-block;
    width: 6rem;
}