/*
 * SPDX-FileCopyrightText: 2023 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
 *
 * SPDX-License-Identifier: BSD-2-Clause
 */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 14pt;
  font-variant: proportional-nums;

  background: url("/background.png"), var(--db-blue);
  color: var(--db-text);
  overflow-x: clip;
}

.stream {
  font-size: 16pt;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0.5em 0 0.5em 0;
  display: block;
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 120%;
}
h4, h5, h6 {
  font-size: 110%;
}

section {
  margin: 1em 0 0 0;
}
header, main, footer, article {
  padding: 0.1em 0.75em;
}
header, header::after {
  background: var(--db-orange);
}

header.right-slant, header.left-slant {
  position: relative;
  z-index: 1;
  width: auto;
  max-width: 800px;
  margin-top: 10px;
}
header.right-slant {
  float: right;
}

.left-slant::after, .right-slant::after {
  content: ' ';

  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  right: -20px;
}
.right-slant::after {
  transform: skew(20deg);
}
.left-slant::after {
  transform: skew(-20deg);
}

table, tr, td {
  border: 1px solid white;
  font-weight: normal;
  border-collapse: collapse;
  padding: 5px;
}

a, a:visited {
  color: #f0f0ff;
}

.gl-game-list {
}
.gl-game-list main {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  padding: 0;
  margin: 15px 25px;
}
.gl-game-panel {
  padding: 0 10px;
  width: 100%;
  color: var(--db-text);
  background: var(--db-blue-accent);
  border: 2px solid var(--db-light-blue);
}
@media screen and (min-width: 1024px) {
  .gl-game-panel { width: calc(50% - 5px); }
}
@media screen and (min-width: 1440px) {
  .gl-game-panel { width: calc(33% - 2px); }
}

.game-credit {
  font-style: italic;
}
