/*
 * SPDX-FileCopyrightText: 2023 Benedict Harcourt <ben.harcourt@harcourtprogramming.co.uk>
 *
 * SPDX-License-Identifier: BSD-2-Clause
 */

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0 0 350px 0;
  background: transparent;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 16pt;
}

ul, li, p {
  list-style: none;
  font-weight: normal;
}

p {
  margin: 10px 0;
}

button {
  font-size: 16pt;
}

dt {
  display: inline-block;
  width: 3rem;
  text-align: center;
}
dd {
  display: inline-block;
  min-width: 120px;
  margin: 0;
  padding: 0;
}

#info div {
  padding: 0 10px;
  border: 1px solid #ccc;
}

#selection, #question, #backfill {
  display: none;
  position: fixed;
  bottom: 0;
  width: 860px;
  padding: 10px 0;
  height: 340px;
  background: radial-gradient(ellipse at top, #99bbff, #5678aa);
  font-size: 16pt;
  text-align: center;
  outline: 2px red solid;
  left: calc(50% - 430px);
}

#backfill {
  display: block;
  width: 100%;
  left: 0;
  outline: none;
}

.on-question, .on-select, .on-revealed {
  display: none;
}
.state-selection #selection, .state-selection .on-select, .state-question #question, .state-question:not(.state-revealed) .on-question, .state-revealed .on-revealed {
  display: block;
}

#selection span {
  display: inline-flex;
  width: 240px;
  height: 140px;

  align-items: center;
  justify-content: center;
  vertical-align: middle;

  background: linear-gradient(to bottom, #bbccff, #7799ff);
  font-size: 36pt;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#selection span.available {
  background: linear-gradient(to bottom, #3667aa, #24528f);
}

#selection span.selected {
  background: #24528f;
  animation: selecting ease-in-out 300ms 2;
}

@keyframes selecting {
  from {
    background: #24528f;
  }
  30% {
    background: #24528f;
  }
  50% {
    background: #aaccff;
  }
  80% {
    background: #aaccff;
  }
  to {
    background: #24528f;
  }
}

#question span {
  display: inline-flex;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  padding: 0 5px;

  align-items: center;
  justify-content: center;
  vertical-align: middle;

  background: #c0c0e0; /* linear-gradient(to bottom, #bbbbe0, #99aacc); */
  border-radius: 5px;

  transition: 0.4s;
  transform-origin: top left;

  position: relative;
}

#question .connection {
  display: inline-block;
  margin: 10px;
  padding: 0 10px;
  color: white;
  width: 820px;
  background: linear-gradient(to bottom, #204880, #24528f);
  border-radius: 5px;

  transition: 0.4s;
  line-height: 40px;
  vertical-align: center;
  position: relative;
  top: 0;
}

#question:not(.answered) .connection {
  top: 120px;
}

#question:not(.answered) span.active ~ span:not(.revealed) {
  transform: rotateY(-90deg);
  color: transparent;
}

#question span.active::before {
  display: inline-block;
  position: absolute;
  top: -40px;
  width: 100%;

  border-radius: 5px;
  padding: 3px 0;
  background: linear-gradient(to bottom, #204880, #24528f);
  color: white;
  content: attr(data-points) " Points";
}
